# Virtual Environment
venv/
.venv/

# Visual Studio Code workspace settings
/.vscode


# pycache
__pycache__/


# Dictionary Pre-Cache
main/dict/cache/
/img-txt_viewer/main/dict/cache


# PyInstaller
dist/
build/
*.spec


# App Settings file
settings.cfg


# MyTags file
my_tags.csv


# ONNX Models
*.onnx
img-txt_viewer/models/onnx_models/wd-v1-4-moat-tagger-v2/selected_tags.csv
img-txt_viewer/models/onnx_models/wd-vit-tagger-v3/selected_tags.csv



# Misc
test_space/
/.github
