# Virtual Environment
venv/
.venv/

# Visual Studio Code workspace settings
/.vscode

# pycache
__pycache__/

# Dictionary Pre-Cache
main/dict/cache/
/img-txt_viewer/main/dict/cache

# PyInstaller
dist/
build/
*.spec

# App Settings file
settings.cfg

# MyTags file
my_tags.csv
my_tags.yaml
my_tags.yml

# ONNX Models
*.onnx

# Misc
/.github
img-txt_viewer/models/onnx_models
/img-txt_viewer/models/ncnn_models
